body {
    background: black;
    color: #ffffff;
    font-size: 16px;
    font-family: 'Open Sans';
    // font family in the reset file
}

.nyt {
    display: flex;
    justify-content: center;
    padding: 75px;
}



.copyright {
    color: #c2c2c2;
    display: flex;
    justify-content: center;
    height: 50px;

}

.news-area {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.articleContainer {
    display: flex;
    align-items: flex-end;
    height: 400px;
    background-size: cover;
}

.textColor {
    color: white;
    text-decoration: none;

}

h1 {
    line-height: 25px;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100px;
    width: 100%;



}