body {
    background: black;
    color: #ffffff;
    font-size: 16px;
    font-family: 'Open Sans Light';
}


.nyt {
    padding: 75px;
}

.copyright {
    color: #c2c2c2;
    padding: 50px;
}

.articleContainer {
    display: flex;
    align-items: flex-end;
   height: 300px;
   background-size: cover;   
}

.textColor{
    color: white;
    text-decoration: none;
}